html{
  font-family: "open_sansregular";
}
h1,h2,h3,h4,h5,.claim{
  font-family: "bello-scriptregular";
}
.red{
  color:#C12025;
}
.green{
  color:#70A631;
}
a{
  color:#7B7B7B;
  text-decoration: none;
}
