.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.text-moved {
    margin-left: 8.65%;
    /* !!!!!!!!!!!!! */
    display: block;
}

.page-wrapper {
    border-top: 4px solid #BE0411;
    padding: 0;
}

.banner {
    width: 100%;
}

.header-wrapper {
    padding: 20px 1% 0px 9%;
    @include media-query('palm') {
        text-align: center;
    }
    & >.container {
        margin: 0px auto;
        vertical-align: top;
        display: inline-block;
        @include media-query('lap-and-up') {
            width: 69.2%;
        }
        &>p {
            @include inuit-font-size(27px);
            /* !!!!!!!!!!!!! */
            @include media-query('lap-and-up') {
                @include inuit-font-size(44px);
                /* !!!!!!!!!!!!! */
            }
            color: rgb(103, 103, 103);
            transform: rotate(-2deg);
            text-align: center;
            @include media-query('palm') {
                margin: 0;
            }
            @media(max-width:53.399em){
              margin-top: 3.5%;
            }
        }
        &>nav {
            font-family: "open_sansbold";
            @media(min-width: 1077px) {
                margin-top: 2.75rem;
            }
            font-size: 1.1rem;
            text-align: center;
            color:#666666;
            line-height: 1;
            display:none;
            @media(min-width:53.4em) {
                display: block;
            }
            li {
                padding: 0px 1.5%;
                &.active {
                    color: #AF3233;
                }
            }
            li:not(:last-child) {
                border-right: 2px solid #666666;
            }
        }
    }
}

.brand {
    display: inline-block;
    max-width: 100%;
    @include media-query('lap-and-up') {
        width: 30.7%;
    }
    img {
        max-width: 98.5
    }
}

.striscia::after {
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 30px;
    @include media-query('lap-and-up') {
        height: 117px;
        /* !!!!!!!!!!!!! */
    }
}

.striscia1::after {
    background-image: url("../images/striscia-2.png");
    margin-top: 1px;
    padding-bottom: 10%;
    height: auto;
    @media(min-width: 1077px) {
        margin-top: -45px;
    }
    /* !!!!!!!!!!!!! */
}

.striscia2::after {
    background-image: url("../images/striscia1.png");
    margin-top: -17%;
       padding-bottom: 9%;
    height: auto;
    @media(min-width: 79.5em) {
        margin-top: -91px;
        /* !!!!!!!!!!!!! */
    }
}

.striscia3::after {
    background-image: url("../images/divisori-multi.png");
    margin-top: -5%;
    position: relative;
    padding-bottom: 7.5%;
    height: 0;
}

.forma::after {
    height: 0;
    padding-bottom: 6%;
    background-image: url("../images/forma.png");
    margin-top: -8%;
    /* !!!!!!!!!!!!! */
    @media(min-width: 53.4em) {
        margin-top: -6%;
        /* !!!!!!!!!!!!! */
    }
    z-index: 11;
    position:relative;
}

.radio-show {
    margin-bottom: 8%;
    /* !!!!!!!!!!!!! */
    @media(min-width: 79.5em)  {
        margin-bottom: -1.1%;
        /* !!!!!!!!!!!!! */
    }
    &>div {
        vertical-align: baseline;
        margin: 40px auto auto;

        /* !!!!!!!!!!!!! */
        @media(min-width: 79.5em) {
            display: inline-block !important;
        }
    }
    .img-container {
        margin-top: 0px;
                        display: block;
                margin: 0px auto;
        &>img {
            padding: 0px 6%;
                      display: block;
                margin: 0px auto;
        }
                 @media(min-width: 79.5em) {
               padding: 0px 0 0 4%;
        }
        @media(min-width: 79.5em)  {


            &>img {
                padding: 0;
                width: 66%;

            }
        }
    }
    /* !!!!!!!!!!!!! */
    .left>img {
        display: block;
        margin: 0 auto
    }
    .left>.kisskiss {
        margin: 20px auto;
        max-width: 45%;
    }
    /* !!!!!!!!!!!!! */
    p {
        @include font-size(13px);
        color: rgb(102, 102, 102);
        padding: 0px 6%;
        @include media-query(lap-and-up) {
            @include font-size(16px);
            line-height: 1;
            padding: 0;
        }
    }
}

.chi-siamo {
    position: relative;
    z-index: 21;
    width: 100%;
    overflow: hidden;
    @include font-size(14px);
    @include media-query(lap-and-up) {
        @include font-size(16px);
    }
    @media(min-width: 1145px) {
        @include font-size(19px);
    }
    p {
        padding-top: 15px;
    }
    &>* {
        vertical-align: top;
    }
    &>.chisiamo {
        position: relative;
        float: left;
        width: 100%;
        @include media-query(palm) {
            margin-bottom: 4%;
        }
        @include media-query(lap-and-up) {
            display: inline-block;
            margin-right: 1%;
            width: 50% !important;
        }
        @media(min-width: 944px) {
            float: none;
            vertical-align: bottom;
        }
    }
    .chi-siamo-text {
        padding: 0% 7%;
        margin: 0;
        @include media-query(lap-and-up) {
            display: inline;
            padding: 0;
            width: 49% !important;
        }
        @media(min-width: 944px) {
            display: inline-block;
        }
        @media(min-width: 1051px) {
            padding: 5% 0;
        }
    }
    .img-chi {
        //padding-top: 18%;
        width: 100%;
    }
    .img-fascia {
        position: absolute;
        left: -10px;
        top: 0px;
        display: none;
    }
    // & img{ max-width:200%}
}

.striscia3::after {
    background-image: url("../images/divisori-multi.png");
    @media(max-width:50em) {
      background-image: url("../images/divisori-verde.png");
    }
    position: relative;
    overflow: hidden;
    margin-top: 0;
    @media(min-width: 1050px) {
        margin-top: -5%;
    }
}

.servizi {
    display: inline-block;
    width: 100%;
    color: #fff;
    @include media-query(lap-and-up) {}
    /* !!!!!!!!!!!!! */
    & h3 {
        font-family: "open_sansbold";
    }
}

.servizio {
    padding: 20px 3%;
    width: 100%;
    text-align: center;
    @include font-size(16px);
    @include media-query(lap-and-up) {
        padding: 20px 2% 0;
        font-size: 1em;
        line-height: 1.5;
    }

    @media(min-width:50em) {
        display: inline-block;
        width: 33.33333%;
        text-align: left;
    }
    @media(min-width:50em) and (max-width:62.75em){
      & h3 {
        @include  font-size(17px,1);
      }
    }
    @media(min-width:60em) and (max-width:70em){
      & h3 >span {
        margin:0;
      }
    }
    @include media-query(palm) {
        & h3 {
            @include font-size(20px);
        }
    }
}

@media(min-width:50em) {
    .servizio-desc,
    .servizio-more {
        @include font-size(14.4px,
        1.3);
        font-weight: 600,
    }
}

.allestimenti {
    background-color: #7EC700;
    @include media-query(lap-and-up) {
        /* !!!!!!!!!!!!! */
        padding-top: 78px;
        /* !!!!!!!!!!!!! */
        //padding-bottom: 5%;
        /* !!!!!!!!!!!!! */
    }
    @media(min-width:50em) and (max-width:60em){
           padding-top: 40px;
    }
}
.servizio .text-container {
    position: relative;
    display: block;
    padding: 0 8%;
    text-align: justify;
      @media(max-width:50em) {
      margin:1rem 0 !important;
    }
}
.servizio-desc {
    margin-top: 0.5rem;
    /* !!!!!!!!!!!!! */
    margin-bottom: 1rem;
    padding:0;
}

.servizio-more {
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index: 21;
    position: relative;
    top: -10px;
    display:block;
    display:none !important;
}

.adulti {
    background-color: #0095D7;
    vertical-align: top;
    position: relative;
    @include media-query(lap-and-up) {
        padding-bottom: 0;
        /* !!!!!!!!!!!!! */
        padding-top: 90px;
        /* !!!!!!!!!!!!! */
        &>h3 {
            margin-bottom: 36px;
        }
    }
     @media(min-width:50em) and (max-width:60em){
           padding-top: 52px;
    }
    &>div{
      display:inline-block;
      margin-bottom: 1.6vw;
    }
    @media(min-width:50em) {
        &>div>img {
            position: absolute;
            top: 30%;
            right: 20px;
            /* !!!!!!!!!!!!! */
        }
        .servizio-desc {
                position: relative;

                background-color: rgba(0, 149, 215, 0.75);

            /* !!!!!!!!!!!!! */
        }
    }
}

.lista-adulti {
    margin-left: 0;
    @include media-query(palm) {
        display: inline-block;
        text-align: left;
position: relative;
left: 25%;
transform: translate(-25%);
max-width: 50%;
    }
    width:100%;
    @media(min-width: 50em) {
        //margin-left: 1rem;
        margin-left: 0rem;

    position: relative;
    z-index: 2;
    margin-left: 0px;
    display: inline;
    width:auto;
    }

    &>li {
        text-transform: uppercase;
        font-family: "open_sansbold";
        @include font-size(17px);
        @include media-query(lap-and-up) {
            font-size: 1.1rem;
            display: table;
            background-color: rgba(0, 149, 215, 0.75);
            margin-right: 13%;
        }
    }
}

.bambini {
    background-color: #0073B1;
    vertical-align: top;
    @include media-query(palm) {
        padding-bottom: 0;
    }
    @include media-query(lap-and-up) {
        padding-top: 78px;
        /* !!!!!!!!!!!!! */
        &>img {
            max-width: 107%;
            margin-top: 14%;
        }
    }
    @media(min-width:50em) and (max-width:60em){
           padding-top: 40px;
    }
}

.trasmissioni {
    position: relative;
    z-index: 21;
    text-align: center;
    background-color: #E5006C;
    margin-top: -10px;
    padding: 20px 0;
    color: #fff;
    &>h3 {
        @include font-size(40px);
        font-weight: 400;
        margin-bottom: 2rem;
        @include media-query(lap-and-up) {
            @include font-size(54px);
        }
    }
}

.lista-trasmissioni>img {
    margin-bottom: 20px;
    @include media-query(lap-and-up) {
        margin: 0px 40px;
        /* !!!!!!!!!!!!! */
    }
}

.artisti {
    background-color: rgb(70, 173, 192);
    padding: 12% 3% 15%;
    @include media-query(lap-and-up) {
        padding: 3% 3% 5%;
    }
}

.artisti-wrapper {
    overflow: hidden;
    position: relative;
    @media(min-width: 1010px) {
        &>.swiper-button-prev, &>.swiper-button-next {
            display: none;
        }
    }
}

.lista-artisti {
    @media (min-width: 1010px) {
        display: inline-block;
        text-align: center;
    }
    &>div {
        margin-bottom: 10px;
        /* !!!!!!!!!!!!! */
        display: inline-block;
        text-align: center;
        @media (max-width: 1010px) and ( min-width: 702px) {
            width: 50%;
        }
        &>img {
            margin: 0 auto;
            display: block;
        }
    }
}

.eventi {
    background-color: #D7E57F;
}

.gallery {
    background-color: rgb(215, 117, 172);
}

.gallery,
.eventi {
    position: relative;
    padding: 12% 7.5% 5%;
    @include media-query(lap-and-up) {
        padding: 5% 7.5%;
    }
    .section-title {
        @include font-size(54.4px);
        @include font-size(34px);
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translate(-50%, -50%);
        padding: 5% 12%;
        @include media-query(lap-and-up) {
            padding: 1% 3%;
        }
    }
}

.eventi-wrapper {
    overflow: hidden;
}

.evento {
    padding: 4%;
    box-sizing: border-box;
    color: rgb(46, 46, 49);
    margin-top: 20px;
    /* !!!!!!!!!!!!! */
    text-align: center;
    @include media-query(palm) {
        margin-bottom: 1.5rem;
    }
            &>h4 {
            font-size: 2.2rem;
            margin-bottom: 0.7rem;
        }
    &>.media__img {
        margin-right: 4%;
        @include media-query(palm) {
            float: none;
            margin: auto;
        }
    }
    &>.media__body {
        //padding: 0px 5%;
        //@include media-query(lap-and-up){
        //padding: 0px 15% 0px 5%;
        //}

        &>p {
            font-size: 0.7rem;
            text-align: justify;
            word-wrap: break-word;
            margin:0;
        }
        @include media-query(palm) {
            float: none;
            margin: auto;
        }
    }
}

.contatti {
    padding: 0 2% 2%;
    text-align: center;
    .logo {
        margin: 0 auto 1.5rem;
        width: 100%;
    }
    .info,
    .form {
        padding: 0 2%;
    }
    @include media-query(lap-and-up) {
        .form {
            border-right: 2px solid rgb(200, 200, 200);
            border-left: 2px solid rgb(200, 200, 200);
        }
    }
}

.contatti-wrapper {
    border-top: 2px solid rgb(200, 200, 200);
    padding-top: 5%;
    position: relative;
    &>div {
        width: 100%;
        vertical-align: middle;
    }
    .info,
    .fb {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @include media-query(lap-and-up) {
        display: flex;
        padding-top: 2%;
        &>div {
            display: inline-block;
            width: 33%;
        }
    }
}

.fb {
    padding: 0px 2%;
    * {
        max-width: 100% !important;
    }
}

.logo {
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80px;
    /* !!!!!!!!!!!!! */
}

.wpcf7-form-control {
    max-width: 100% !important;
}

.mfp-content {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    padding: 3%;
    .page-header{
      text-align: center;
    }
    h1,h3{text-align: center;font-size:2rem;}
    h5{font-size: 1.5rem;}
}
.evento-single{
  h5{
    font-size: 2rem;
    margin: 0px;
  }
  .img-cont{
    display: inline-block;
  margin-right: 1em;
  }
  p{
    display: inline-block;
max-width: 70%;
vertical-align: middle;
  }
}
.artista-single {
    &>h3 {
        text-align: center;
    }
    &>.img-cont {
        display: inline-block;
        margin-right: 1.5rem;
        vertical-align: middle;
        margin-bottom: 1.5rem;
    }
    &>.content {
        max-width: 60%;
        display: inline-block;
        vertical-align: middle;
    }
    @media(max-width: 682px) {
        &>.img-cont {
            display: block;
            &>img {
                display: block;
                margin: 0 auto;
            }
        }
        &>.content {
            max-width: 100%;
        }
    }
}

.gallery-wrapper {
    margin-top: 3rem;
}

span[class^='bwg_album_thumb_spun']:hover span[class^='bwg_title_spun1']{
  display: inline-block !important;
width: auto !important;

left: 50% !important;
transform: translate(-50%,-66%) !important;
}
/*
span[class^='bwg_album_thumb_spun'] {
    position: relative;
}

span[class^='bwg_title_spun1'] {
    left: 50% !important;
    padding: 0px 0px 40px;
    transform: translate(-50%, -50%);
    top: -13% !important;
    display: static !important;
    opacity: 1 !important;
}

span[class^='bwg_album_thumb_spun2'] {
    overflow: visible !important;
}

a[class^='bwg_back'],
span[class^='bwg_title_spun2'] {
    color: #fff !important;
    font-family: inherit !important;
}
*/
#ajax_loading_0 {
   // position: static !important;
   // margin-bottom: 0.5rem;
    &>div {
        background-color: transparent !important;
    }
}

#responsive-menu .appendLink,
#responsive-menu .responsive-menu li a,
#responsive-menu #responsive-menu-title a,
#responsive-menu .responsive-menu,
#responsive-menu div,
#responsive-menu .responsive-menu li,
#responsive-menu {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -o-box-sizing: content-box !important
}

.RMPushOpen {
    width: 100% !important;
    overflow-x: hidden !important;
    height: 100% !important
}

.RMPushSlide {
    position: relative;
    left: 75%
}

.responsive-menu-wrapper {
    position: fixed;
    width: 100%;
    background-color: rgb(190, 4, 17);
    text-align: center;
    top: 0px;
    padding-top: 10px;
    display: none;
    z-index: 9999;
}

#responsive-menu {
    position: absolute;
    width: 75%;
    left: -75%;
    top: 0px;
    background: rgb(162, 71, 71);
    z-index: 9999;
    box-shadow: 0px 1px 8px #333333;
    font-size: 13px !important;
    max-width: 999px;
}

#responsive-menu.admin-bar-showing {
    padding-top: 32px
}

#click-menu.admin-bar-showing {
    margin-top: 32px
}

#responsive-menu #rm-additional-content {
    padding: 10px 5% !important;
    width: 90% !important;
    color: #FFFFFF
}

#responsive-menu .appendLink {
    right: 0px !important;
    position: absolute !important;
    border: 1px solid #3C3C3C !important;
    padding: 12px 10px !important;
    color: #FFFFFF !important;
    background: #43494C !important;
    height: 20px !important;
    line-height: 20px !important;
    border-right: 0px !important
}

#responsive-menu .appendLink:hover {
    cursor: pointer;
    background: #3C3C3C !important;
    color: #FFFFFF !important
}

#responsive-menu .responsive-menu,
#responsive-menu div,
#responsive-menu .responsive-menu li,
#responsive-menu {
    text-align: left !important
}

#responsive-menu .RMImage {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block
}

#responsive-menu.RMOpened {}

#responsive-menu,
#responsive-menu input {}

#responsive-menu #responsive-menu-title {
    width: 95% !important;
    font-size: 14px !important;
    padding: 20px 0px 12px 5% !important;
    margin-left: 0px !important;
    background: rgb(190, 4, 17) !important;
    white-space: nowrap !important
}

#responsive-menu #responsive-menu-title,
#responsive-menu #responsive-menu-title a {
    color: #FFFFFF !important;
    text-decoration: none !important;
    overflow: hidden !important
}

#responsive-menu #responsive-menu-title a:hover {
    color: #FFFFFF !important;
    text-decoration: none !important
}

#responsive-menu .appendLink,
#responsive-menu .responsive-menu li a,
#responsive-menu #responsive-menu-title a {
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all
}

#responsive-menu .responsive-menu {
    width: 100% !important;
    list-style-type: none !important;
    margin: 0px !important
}

#responsive-menu .responsive-menu li.current-menu-item > a,
#responsive-menu .responsive-menu li.current-menu-item > .appendLink,
#responsive-menu .responsive-menu li.current_page_item > a,
#responsive-menu .responsive-menu li.current_page_item > .appendLink {
    background: #43494C !important;
    color: #FFFFFF !important
}

#responsive-menu .responsive-menu li.current-menu-item > a:hover,
#responsive-menu .responsive-menu li.current-menu-item > .appendLink:hover,
#responsive-menu .responsive-menu li.current_page_item > a:hover,
#responsive-menu .responsive-menu li.current_page_item > .appendLink:hover {
    background: #43494C !important;
    color: #FFFFFF !important
}

#responsive-menu .responsive-menu ul {
    margin-left: 0px !important
}

#responsive-menu .responsive-menu li {
    list-style-type: none !important;
    position: relative !important
}

#responsive-menu .responsive-menu ul li:last-child {
    padding-bottom: 0px !important
}

#responsive-menu .responsive-menu li a {
    padding: 12px 0px 12px 5% !important;
    width: 95% !important;
    display: block !important;
    height: 20px !important;
    line-height: 20px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    color: #FFFFFF !important;
    border-top: 1px solid #3C3C3C !important;
    text-decoration: none !important
}

#click-menu {
    text-align: center;
    cursor: pointer;
    font-size: 13px !important;
    color: #FFF;
    background: rgb(190, 4, 17);
    padding: 5px;
    z-index: 9999;
    position: relative;
    display: inline-block;
}

#responsive-menu #responsiveSearch {
    display: block !important;
    width: 95% !important;
    padding-left: 5% !important;
    border-top: 1px solid #3C3C3C !important;
    clear: both !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 40px !important;
    line-height: 40px !important
}

#responsive-menu #responsiveSearchSubmit {
    display: none !important
}

#responsive-menu #responsiveSearchInput {
    width: 91% !important;
    padding: 5px 0px 5px 3% !important;
    -webkit-appearance: none !important;
    border-radius: 2px !important;
    border: 1px solid #3C3C3C !important
}

#responsive-menu .responsive-menu,
#responsive-menu div,
#responsive-menu .responsive-menu li {
    width: 100% !important;
    margin-left: 0px !important;
    padding-left: 0px !important
}

#responsive-menu .responsive-menu li li a {
    padding-left: 10% !important;
    width: 90% !important;
    overflow: hidden !important
}

#responsive-menu .responsive-menu li li li a {
    padding-left: 15% !important;
    width: 85% !important;
    overflow: hidden !important
}

#responsive-menu .responsive-menu li li li li a {
    padding-left: 20% !important;
    width: 80% !important;
    overflow: hidden !important
}

#responsive-menu .responsive-menu li li li li li a {
    padding-left: 25% !important;
    width: 75% !important;
    overflow: hidden !important
}

#responsive-menu .responsive-menu li a:hover {
    background: #3C3C3C !important;
    color: #FFFFFF !important;
    list-style-type: none !important;
    text-decoration: none !important
}

#click-menu #RMX {
    display: none;
    font-size: 24px;
    line-height: 27px !important;
    height: 27px !important;
    color: #FFFFFF !important
}

#click-menu .threeLines {
    width: 33px !important;
    height: 27px !important;
    margin: auto !important
}

#click-menu .threeLines .line {
    height: 5px !important;
    margin-bottom: 6px !important;
    background: #FFFFFF !important;
    width: 100% !important
}

#click-menu .threeLines .line.last {
    margin-bottom: 0px !important
}

@media(max-width:53.4em) {
    .responsive-menu-wrapper {
        display: inline-block;
    }
    header.banner {
        margin-top: 50px;
    }
}

#wpadminbar {
    position: fixed !important;
    bottom: 0 !important;
    top: auto !important;
}
