$breakpoints: (
    "palm"          "screen and (max-width: 49.9375em)",
    "lap"           "screen and (min-width: 50em) and (max-width: 63.9375em)",
    "lap-and-up"    "screen and (min-width: 50em)",
    "portable"      "screen and (max-width: 63.9375em)",
    "desk"          "screen and (min-width: 64em)",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) ;

    @include media-query("palm"){
      $inuit-base-font-size:          12px !default;
      $inuit-base-line-height:        18px !default;
    }
    /*
    @include media-query("lap")
    @include media-query("lap-and-up" )
    @include media-query("portable")
    @include media-query("desk"    )
    @include media-query("retina"  )
*/
